  <% categories.forEach(category => { %>
        <div class="grid-item category ">
            

          <h2><%= category.name %></h2>
          
              <a href="/categories/<%= category.id %>" ><i class="fas fa-info-circle"></i></a>
              <!-- <a href="/categories/edit/<%= category.id %>">Edit</a> -->
            
           <button onclick="if(confirm('Are you sure you want to delete this category?')) { window.location.href = '/categories/delete/<%= category.id %>' }"><i class="fas fa-trash"></i></button>
        </div>
      <% }) %>  