<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %>
</head>
<body>

 <%- include('nav') %>

  <main>
   
    
 
    <div style="text-align:center">   <h2>Categories All</h2></div>
    <div class="grid-container">

       <%- include('partials/tools', { tools: tools }) %> 

     
    </div>
  </main>


  
  <footer>
     <%- include('footer') %>
  </footer>

</body>
</html>