<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %>
</head>
<body>

 <%- include('nav') %>

  <main>
   
    
 
     
    <div class="addNew">   <h2>Tools All</h2>
    <a href="/tools/new">Add New </a> </div>
    <div class="grid-container">

       <%- include('partials/tools', { tools: tools }) %> 

     
    </div>
  </main>


  
  <footer>
     <%- include('footer') %>
  </footer>

</body>
</html>